version: "3.9"

services:
  db:
    image: postgres:16
    container_name: sishirweb_db_container
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: bikramdhami
      POSTGRES_DB: sishirweb_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
